---
- name: Configure Keycloak
  ansible.builtin.template:
    src: keycloak.conf.j2
    dest: "{{ keycloak_config_dir }}/keycloak.conf"
    owner: "{{ keycloak_service_user }}"
    group: "{{ keycloak_service_group }}"
    mode: '0640'
  notify: restart keycloak
  tags: configure

- name: Build Keycloak with database configuration
  ansible.builtin.shell: |
    sudo -u {{ keycloak_service_user }} {{ keycloak_install_dir }}/bin/kc.sh build \
      --db={{ keycloak_db_vendor }}
  become: true
  args:
    chdir: "{{ keycloak_install_dir }}"
  tags: configure

- name: Create Keycloak systemd service
  ansible.builtin.template:
    src: keycloak.service.j2
    dest: /etc/systemd/system/keycloak.service
    mode: '0644'
  notify: restart keycloak
  tags: configure

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes
  tags: configure

- name: Enable and start Keycloak service
  ansible.builtin.systemd:
    name: keycloak
    enabled: yes
    state: started
  tags: configure

- name: Wait for Keycloak to be ready
  ansible.builtin.uri:
    url: "http://{{ keycloak_hostname }}:{{ keycloak_http_port }}"
    method: GET
    status_code: 200
  register: result
  until: result.status == 200
  retries: 30
  delay: 10
  tags: configure